<!DOCTYPE html>
<html>
<head>
    <title>CodeQuest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/indexhome.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js"></script>
	<script src="/js/editor.js"></script>

</head>
<body style="background-color: #A9A9F5;"> 
<header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class = "container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Coding Arena</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
		


<p style="position:absolute ; top:80px; left:500px; width:800px; background-color:#3B0B17;">
<select id="language" onchange="theme()">
<option value="java">JAVA</option>
<option value="python">PYTHON3</option>
<option value="c">C</option>
<option value="c++">C++</option>
</select>
<select id="theme" onchange="stheme()" style="position:relative ; left:650px;">
<option value="dark">Dark</option>
<option value="light">Light</option>
</select>

</p>
<div id="editor" style="position:absolute ; top:100px; left:500px;width : 800px ; height:600px;">
/*
WELCOME TO CODING ARENA 
YOUR CODE GOES HERE
*/
</div>

<div style="position:absolute ; top:700px; left:500px;">
<hr>
<table>
<tr>
<td>
<h3> Input </h3>
<br/>
<textarea id="user_input" rows="6" cols="50" ></textarea> 
</td>

<td><button class="btn btn-success btn-lg" type="button" onclick="compile()">RUN</button></td>

<td>
<h3> Output </h3>
<br/>
<textarea rows="6" cols="50" readonly id="output"></textarea> 

<td>
</tr>
</table>
</div>

</body>

<script>
 
	var editor = ace.edit("editor");
	
	editor.session.setMode("ace/mode/java");
	editor.setTheme('ace/theme/solarized_dark');
	
</script>
</html>