<!DOCTYPE html>
<head>
    <title>CodeArena</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/indexhome.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class = "container">
			<ul class="nav navbar-nav navbar-left">
                        <li><img src="/images/logo.jpg" alt="logo" width="50" height="50"></li>
			</ul>
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Coding Arena</a>
                </div>
                <div>
				
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id = "banner_image">
            <div>
                <div id = "banner_content">
                    <h1>Welcome To Coding Arena.</h1>
                    <p>Edit And Run Your Codes And Enjoy Your Passion</p>
                    <a href="/dashboard" class="btn btn-danger btn-lg active">GoTo Coding Arena Editor</a>
                </div>
            </div>
        </div>
    </header>
    <footer>
        <div class="container">
            <p style="text-align: center;">Copyright © Team H.A.N.D. All Rights Reserved | Contact Us: +91 9000000000</p>
        </div>
    </footer>
</body>