<!DOCTYPE html>
<head>
    <!--The page has a title Lifestyle Store-->
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        #form {
            padding-top: 50px;
            margin-top: 50px;
            padding-bottom: 145px;;
            width: 50%;
        }
        body {
            background-color: #A9A9F5;
            
        }
		
		
       

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class = "container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Home Page</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id = "form">
            <div class="panel panel-primary">  
                <div class="panel-heading">
                    <h3 class "panel-title"><strong>Create Your Account</strong></h3>  
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <input type="name" class="form-control" id="name" placeholder="Name" name="name">
                        </div>
                        <div class="form-group">
                            <input type="contact" class="form-control" id="contact" placeholder="Mobile Number" name="contact">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email Id" name="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>  
            </div>  
        </div>
    </header>
    
    
</body>
